<!DOCTYPE html>
<html lang="en">

<head>
     {{>headerlinks}}
</head>

<body>

{{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_left align-items-center">
                        <figure>
                             <img src="images/about.jpg" alt="lalithesh" class="img-fluid" title="Lalithesh Akula">
                        </figure>
                    </div>

                    <!-- right side div -->
                    <div class="col-md-6 col-12 main_header_right">
                        <p>Welcome to weather App</p>
                        <h1>I am a <span class="weather_text">Mern Stack Developer</span>.</h1>
                        <a href="/weather"><button>About me</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer code -->

  {{>footer}}
</body>

</html>